{% extends "layout.html" %}   <!-- inheriting layout.html style -->
{% block title %} {{title}} {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>About Us</h1>
  <p class="important">
    We're an online blog for indoor plants. Checkout our <a class="nav-link" href="/collection">Collection</a>
  <br>
    Subscribe to our mailing list to get tips and tricks to help your plants thrive indoors.
  <hr>
{% endblock %}